<!--====== ABOUT PART START ======-->

<section id="about" class="about-area pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="title">About Me</h2>
                    <p>A WEB DEVELOPER AND A GAMER.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content mt-50">
                    <h5 class="about-title">HI THERE! I AM ANDROS VON MUNDIA</h5>
                    <p>I love to travel with my family and friends, I don’t like to define myself by the work I’ve done. I define myself
                    by the work I want to do. Skills can be taught, personality is inherent. I prefer to keep learning, continue challenging myself, and do interesting things that matter. I’m easily inspired and more then willing to follow my fascinations wherever they take me. I’m passionate, expressive, multi-talented spirit with a natural ability to entertain and inspire. I’m a people-person with deep emotions and empathy, a natural storyteller. I’m able to inspire and am at my best when I’m sharing my creative expressions with others.</p>
                    <ul class="clearfix">
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-calendar"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Date of birth:</span> 10 May 1997</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-envelope"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Email:</span> androsmundia@gmail.com</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-phone-handset"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Phone:</span> +639954097894</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-map-marker"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Address:</span> #77 Mexico St. Purok 5B Citicenter Pandan Angeles City</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                    </ul>
                </div> <!-- about content -->
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6">
                <div class="about-skills pt-25">
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">HTML</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">80</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="80"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">CSS</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">60</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="60"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">Python</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">85</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="85"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">Wordpress</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">85</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="85"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">Java</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">75</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="75"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                </div> <!-- about skills -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->