 <!--====== SERVICES PART START ======-->

 <section id="service" class="services-area gray-bg pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-30">
                    <h2 class="title">My Services</h2>
                    <p>Need a new Website? Design? QA Testing? Here are some of my available services for you.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-code-alt"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#contact">Web Design</a></h4>
                        <p>As much as possible i keep my website clean and simple to avoid bugs and glitches</p>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-color-pallet"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#contact">Graphic Design</a></h4>
                        <p>I'm not a pro when it comes to graphical design but i can guarantee that you will like the outcome of my work</p>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-mobile"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#contact">App Design</a></h4>
                        <p>I'm new to application design but i can find ways to make it work ;)</p>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-vector"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#contact">QA Tester</a></h4>
                        <p>Bugs and Glitches in your site? I can find them all</p>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-website"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#contact">Web Development</a></h4>
                        <p>Need a Website for business or company? just message me and we can have a deal</p>
                    </div>
                </div> <!-- single service -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== SERVICES PART ENDS ======-->
